.App {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #40A7B8;
    color: #F4FAFF;
    height: 100vh;
    width: 100vw;
    text-align: center;
}

.App__title {
    margin-bottom: auto;
}